*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-color: #2ccb69;
    --text-primary: #bcbcbc;
    --dark-color: #1c1c1c;
    --black-color: #000;
    --grey-color: #5c5555;
    --form-color: #2f2f2f;
}

/* body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif;
} */

p, label{
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}


@keyframes fadeFromLeft{
    to{
        left: 0;
        opacity: 1;
    }
}


@keyframes slideTopIn{
    to{
        top: 10%;
        opacity: 1;
    }
}

@keyframes scaleRight{
    to{
        transform: scaleX(1);
    }
}

@keyframes scaleUp{
    to{
        transform: scale(1);
    }
}


@keyframes lineDown{
    0%{
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25%{
        transform: scale(1, 1);
        transform-origin: top center;
    }

    75%{
        transform: scale(1, 1);
        transform-origin: top center;
    }

    76%{
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100%{
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}

@keyframes arrowDown{
    0%{
        bottom: 25px;

    }

    30%{
        bottom: 15px;
        opacity: 1;
    }
    
    70%{
        bottom: 10px;
        opacity: 1;
    }

    100%{
        bottom: 8px;
        opacity: 0;
    }
}

@media (min-width: 320px){
    .jl-page-wrapper, .jl-preloader{
        width: 100%;
        height: 100vh;
        display: table;
        background-color: var(--dark-color);
        border: 30px solid #000;
    }

    .jl-preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    .jl-preloader-inner{
        margin-top: -40px;
    }

    .jl-preloader-inner img{
        margin-bottom: 15px;
    }

    .jl-preloader-inner p{
        margin-top: 20px;
        color: var(--text-primary);   
    }

    .jl-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
    }

    .jl-logo{
        width: 75px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: var(--primary-color);
        border-radius: 0 0 37px;
    }

    .jl-logo img{
        width: 46px;
        height: 31px;
        display: block;  
        margin: 55px auto 0;
    }

    .jl-menu{
        display: none;
    }

    .jl-btn-contact {
        width: 45px;
        height: 45px;
        display: block;
        /* background-color: var(--primary-color); 
        background-image: url('../img/icon-contact-close.svg');
        background-repeat: no-repeat; */
        background: var(--primary-color) url('../img/icon-contact-close.svg') no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        cursor: pointer;
        transition: all 0.2s ease;
        border: none;
    }
 

    .jl-contact-info {
        width: 245px;
        height: 165px;
        background-color: var(--black-color);
        padding: 23px;
        position: fixed;
        bottom: 118px;
        right: 66px;
        z-index: 200;
        display: none;
    }


    .jl-contact-info-inner{
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner h2{
        font-family: 'Abril Fatface', cursive;
        color: var(--primary-color);
        font-weight: 400;
        font-size: 24px;
    }

    .jl-contact-info-inner p{
     color: var(--text-primary);
     margin-top: 3px;   
    }

    .jl-social-links{
        width: 100%;
        height: 45px;
        display: block;
    }

    .jl-social-links a{
       width: 45px;
       height: 45px;
       display: inline-block;
       margin-top: 15px;
       padding: 0 15px 0 0;
    }

    .jl-social-links a i{
       color: var(--primary-color);
       font-size: 20px;
    }

    .jl-corner{
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        position: relative;
    }

    .jl-corner::after{
        content: "";
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -15px;
        right: -24px;
        background: transparent url("../img/corner.svg") no-repeat;
    }


    .container-fluid h1{
        font-family: 'Abril Fatface', cursive;
        font-weight: 400;
        margin-bottom: 15px;
        
    }
    
    .jl-title-color{
        color: var(--primary-color);
    }

    .container-fluid p span{
        color: var(--primary-color)
    }

    .container-fluid p{
        color: var(--text-primary);
    }

    /* Edição da Home */

    .jl-display-text{
        margin-top: 10%;
    }

    .jl-display-text p{
       margin: 0 0 15px 0;
    }

    #jl-home{
        background-image: url(../img/joao-lemon-designer-home.png);
        background-repeat: no-repeat;
        background-position: 80% top;
        position: relative;
    }

    .jl-scroll{
        width: 70px;
        height: 105px;
        border-radius: 35px 35px 0 0;
        background-color: var(--primary-color);
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .jl-arrow-down{
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }

    .jl-arrow-down img{
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s linear 1.5s infinite;
        
    }

    .jl-arrow-down::before{
        content: "";
        width: 2px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: black;
        animation: lineDown 1.5s infinite ease-out;
        transform-origin: top center;
    }

    /* Edição da Home portfolio */

    .jl-portfolio-navigator{
        width: 145px;
        display: table;
        position: absolute;
        /* left: 15px; */
        top: 26vh;
        margin-left: 0;
    }

    .jl-navigator-counter {
        width: 100%;
        height: 90px;
        display: block;
        margin-bottom: 50px;
        position: relative;
    }

    .jl-navigator-counter::before {
        content: "";
        display: block;
        width: 35px;
        height: 100%;
        background-color: var(--dark-color);
        position: absolute;
        top: 4px;
        left: 1px;
    }
    
    .jl-navigator-counter span{
        color: var(--primary-color);
        font-family: 'Open Sans', sans-serif;
        font-size: 120px;
        font-weight: 600;
        line-height: 90px;
    }


    .jl-item-navigator {
        width: 100%;
        display: table;
    }

    .jl-item-navigator a{
        width: 20px;
        height: 1px;
        display: block;
        margin: 0 0 55px 35px;
        background-color: var(--text-primary);
    }

    .jl-item-navigator a:last-child{
        margin-bottom: 30px;
    }
    
    .jl-item-navigator a.jl-item-active{
        background-color: var(--primary-color);
    }

    .jl-next-prev {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--form-color);
        border-radius: 23px;
    }

    .jl-item-prev, .jl-item-next{
        cursor: pointer;
    }

    jl-next-prev > div {
        height: 32px;
        line-height: 32px;
    }

    .jl-items-counter {
        font-family: 'Open Sans', sans-serif;
        color: var(--text-primary)
    }

    .jl-items-counter span:nth-child(1){
        color: var(--primary-color);
    }

    .jl-item-prev i, .jl-item-next i{
        font-size: 2rem;
        color: var(--primary-color);
        text-align: center;
    }

    .jl-slider-container {
        /* width: 100%; */
        background-color: var(--dark-color);
        display: block;
        overflow: hidden;
    }

    .jl-slider-list {
        /* width: 100%; */
        /* height: 700px; */
        list-style: none;
        display: block;
    }

    .jl-portfolio-list{
        list-style: none;
    }

    .jl-slider-list .jl-portfolio-item{
        display: block;
        height: 500px;
        float: left;
        margin-top: calc(26vh - 75px); 
        margin-bottom: 100px;
    }

    .jl-portfolio-list .jl-portfolio-item{
        margin-bottom: 100px;
    }

    .jl-slider-list .jl-portfolio-item-info {
        width: calc(100%- 45px);
        display: table;
        margin-top: 73px;
        position: relative;
        opacity: 0;
        left: -65px;
    }

    .jl-portfolio-list .jl-portfolio-item-info{
        width: calc(100% - 105px);; 
    }

    .jl-slider-list .jl-portfolio-item-info h1, .jl-portfolio-list .jl-portfolio-item-info h1{
        color: var(--text-primary);
        font-family: 'Abril Fatface', cursive;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .jl-slider-list .jl-portfolio-item-info p, .jl-portfolio-list .jl-portfolio-item-info p{
        color: var(--text-primary);
        font-weight: normal;
        margin-bottom: 15px;
    }

    .jl-slider-list .jl-portfolio-item-thumb, .jl-portfolio-list .jl-portfolio-item-thumb {
        width: 100%;
        display: table;
        padding: 65px 0 18px 0;
        position: relative;
    }

    .jl-slider-list .jl-portfolio-item-thumb > button, .jl-portfolio-list .jl-portfolio-item-thumb > button {
        margin-top: 16px;
        margin-right: 45px;
        float: right;
    }


    .jl-slider-list .jl-portfolio-item-thumb img, .jl-portfolio-list .jl-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -45px;
        transform: scale(0);
    }

    .jl-portfolio-list .jl-portfolio-item-thumb img{
        transform: scale(1);
    }

    .jl-slider-list .jl-portfolio-box, .jl-portfolio-list .jl-portfolio-box  {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
    }

    .jl-portfolio-list .jl-portfolio-box  {
        transform: scaleX(1);
        
    }


    /*  EDIÇÃO DA PAGINA PORTFÓLIO */
    .jl-section-offset-top{
        margin-top: 130px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
        text-align: right;
    }

    /* modal */

    .jl-overlay{
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(44, 203, 105, 0.95)
    }

    .jl-modal{
        background-color: var(--dark-color);
        width: 800px;
        display: none;
        position: fixed;
        padding: 30px;
        border-radius: 0 30px 30px;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1200;

    }

    .jl-modal-header, .jl-modal-body, .jl-form{
        width: 100%;
        display: table;
        position: relative;
    }

    .jl-field, .jl-textarea{
        width: 100%;
        background-color: var(--form-color);
        border-radius: 4px;
        color: white;
        border: none;
        font-size: 16px;
        text-indent: 15px;
        margin-bottom: 15px;
    }

    .jl-field{
        height: 45px;
    }

    .jl-close-modal{
        width: 38px;
        height: 38px;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        line-height: center;
        cursor: pointer;
        top: -15px;
        right: -15px;
        border: none;
        background-color: var(--grey-color);
        color: var(--primary-color);
    }

    .jl-modal-header h1{
        color: var(--primary-color);
        font-family: 'Abril Fatface', cursive;
        font-weight: 400;
        
    }

    .jl-modal-body p{
        color: var(--text-primary);
    }

    .jl-form label{
        margin-bottom: 10px;
        color: var(--text-primary);
        font-size: 16px;
        display: inline-block;
    }


}

@media (min-width: 576px){
    
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    .jl-menu{
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }

    .jl-menu a{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: var(--text-primary);
        text-decoration: none;
        display: inline-block;
        margin: 50px 20px 0;
        font-weight: 400;
        position: relative;
    }

    .jl-menu a:first-child{
        margin-left: 0;
    }

    .jl-menu a:hover{
        color: var(--primary-color);
    }

    .jl-menu a::before{
        content: "";
        width: 0;
        height: 4px;
        background-color: var(--primary-color);
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;
    }

    .jl-menu a:hover::before{
       width: 100%; 
    }
}

@media (min-width: 1200px){
    
}

@media (min-width: 1364px){
    
}

@media (min-width: 1600px){
    
}

.jl-full-height {
    height: 100vh;
    position: relative;
}


.jl-first {
    height: calc(100vh - 30px);
}


/* Classes comportamento */

.jl-is-open {
    display: block;
}

.jl-change-icon {
    background: var(--primary-color) url('../img/icon-contact-close.svg') no-repeat;
    background-position-y: -45px;
} 

.jl-fade-out{
    animation: fadeOut 2s forwards ease-out;
}

.jl-scale-right{
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-up{
    animation: scaleUp 0.5s 0.4s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-slide-top-in {
    animation: slideTopIn 0.6s forwards cubic-bezier(.17,.67,.83,.67);
}


.jl-fade-from-left {
    animation: fadeFromLeft 2s 0.5s forwards cubic-bezier(0,1.01,.32,1);
}



/* classes botões */

.jl-btn {
    display: table;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    font-weight: 600;
    border: none;
    transition: all 200ms ease;
    position: relative;
}

.jl-btn ion-icon{
    font-size: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 5px;
    
}

.jl-btn-medium {
    height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
    cursor: pointer;
    line-height: 38px;
    
}

.jl-btn-large {
    height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
    background-color: var(--primary-color);
    cursor: pointer;
}
.jl-btn-block{
    display: block;
    width: 100%;
}

.jl-btn-large:hover{
    background-color: rgb(6, 135, 55);
    color: white;
}

.jl-btn-dark{
    background-color: #151515;
    color: var(--primary-color);
}

.jl.jl-btn-dark:hover{
    background-color: #212121;
    color: #fff;
}

.jl-btn-green{
    background-color: var(--primary-color);
}

/* classes utilitárias */

.jl-mar-top-15{
    margin-top: 15px;
}

.jl-no-padding {
    padding: 0 !important;
}


.jl-no-radios-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.jl-no-radios-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jl-title-large{
    font-size: 54px;
}

.jl-title-xlarge{
    font-size: 120px;
}


.red{
    background: red;
}

.green{
    background: green;
}

.yellow{
    background: yellow;
}

.purple{
    background: purple ;
}

.blue{
    background: blue;
}
